h1 {
    background-color:rgba(0, 110, 255, 0.719);
    color:darkblue; 
    text-align:center;
    padding: 1.5%;
 }
 h3 {
    color:darkblue; 
    text-align:center;
 }
 p {
    text-align:center;
    color:darkblue; 
 }
 #p1 {
    background-color:rgba(0, 110, 255, 0.719);
    color:rgb(120, 235, 255); 
    text-align:center;
    padding: 0.5%;
 }
 #p2 {
    background-color:rgba(0, 110, 255, 0.719);
    color:rgb(219, 157, 255); 
    text-align:center;
    padding: 0.5%;
 }
 #p3 {
    color:rgb(219, 157, 255); 
    text-align:center;
 }   
 body {
    background-image:linear-gradient(rgb(72, 128, 247),white);
 }